DATABASE_URL="postgresql://<user>:<password>@<host>:5432/<database>?sslmode=require"
DIRECT_URL="postgresql://<user>:<password>@<host>:5432/<database>?sslmode=require"
SMTP_HOST=""
SMTP_PORT="587"
SMTP_USER=""
SMTP_PASS=""
FROM_EMAIL="noreply@watermelon.us"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
